:root {
    --clr-black: hsl(219, 43%, 16%);
    --clr-grey: hsl(218, 20%, 36%);
    --clr-off-white: hsl(30, 33%, 93%);
    --clr-white: hsl(30, 29%, 97%);
     --clr-gradient: linear-gradient(135, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
    --ff-primary: "Epilogue";
  
    --fs-title: 4.5rem;
    --fs-primary: 1.125rem;
    --fs-secondary: 1.125rem;
    --fs-mobile: 1rem;
    --fs-h2: 2.375rem;
    --fw-regular: 400;
    --fw-bold: 700;
  }
  
  /*
    1. Use a more-intuitive box-sizing model.
  */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    min-height: 100vh;
    place-content: center;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    5. Improve media defaults
  */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  
  /*
    8. Create a root stacking context
  */
  #root,
  #__next {
    isolation: isolate;
  }

body {
  min-height: 100vh;
  font-family: 'Epilogue';
  background-color: #FAF8F6;
}

.nav {
  max-width: 21.44rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 0 1rem;
  margin-inline: auto;
}

.logo {
  width: 5.0625rem;
  height: 2rem
}

.access-request {
  border: 1px solid #172339;
  border-radius: 6px;
  padding: 0.79rem 0.88rem;
  background-color: #FAF8F6;
  font-weight: var(--fw-bold);
  font-size: 0.875rem;
  text-decoration: none;
  color: #172339;
}

.container {
  max-width: 21.44rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.5rem;
  margin-inline: auto;
}

.beta-container {
  display: grid;
  margin-top: 3.5rem;
  row-gap: 3.5rem;
  padding-inline: 1rem;
}

.hero-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.hero-title {
  font-size: 2.375rem;
  font-weight: var(--fw-regular);
  line-height: 1.15;
  letter-spacing: -0.033rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.description {
  line-height: 175%;
  letter-spacing: 0.00556rem;
  color: #49566D;
}

.beta-btn {
  max-width: 16rem;
  border: none;
  border-radius: 6px;
  padding: 0.92rem 0;
  background-color: #172339;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.77;
  letter-spacing: -0.18px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.feature-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.16;
}

.stats-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  row-gap: 2rem;
}

.stat-number {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.16;
  display: flex;
  flex-direction: column;
}

.stat-number span {
  font-size: 1rem;
  line-height: 1.62;
  letter-spacing: 0.15625rem;
  color: #49566D;
  font-weight: 400;
}

.advertise {
  display: grid;
  grid-auto-flow: row;
  position: relative;
  border-radius: 0.9375rem;
  background-color: #172339;
  text-align: center;
  margin-top: 11rem;
}

.portrait {
  justify-self: center;
  position: relative;
  top: -11rem;
}

.advertise-content {
  display: grid;
  row-gap: 2.5rem;
  position: relative;
  bottom: 4rem;
  padding-inline: 1rem;
}

.brand, .opinion, .founder, .founder-title {
  color: #FAF8F6;
}

.brand {
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.02606rem;
}

.opinion {
  font-size: 1.125rem;
  line-height: 1.77;
  letter-spacing: 0.00563rem;
}

.founder {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.77;
  letter-spacing: -0.01125rem;
}

.founder-title {
  line-height: 1.62;
  letter-spacing: 0.15625rem;
}

footer {
  min-height: 26.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #F3EdE7;
  bottom: 8rem;
  z-index: -1;
}

.footer-nav {
  display: grid;
  row-gap: 2.06rem;
  position: absolute;
  bottom: 4rem;
  text-align: center;
}

.footer-logo {
  justify-self: center;
}

.copyright {
  font-size: 0.9375rem;
  line-height: 2.13;
  letter-spacing: 0.00519rem;
  color: #49566D;
}

.social-media {
  min-width: 7.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 48rem) {

  .nav {
    max-width: 43.06rem;
    padding-top: 3.5rem;
  }

  .container {
    max-width: 43.06rem;
    row-gap: 5.75rem;
  }

  .beta-container {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
  } 

  .hero-container {
    grid-column: 1 / -1;
    grid-row: 1;
    z-index: 1;
    max-width: 33.8125rem;
    row-gap: 2rem;
    padding-top: 5rem;
  }

  .hero-title {
    font-size: 3.5rem;
  }

  .hero-content {
    max-width: 21.875rem;
  }

  .description {
    font-size: 1rem;
    line-height: 175%;
    letter-spacing: 0.00556rem;
  }

  .phone {
    width: 17.5625rem;
    grid-column-start: 2 ;
    grid-row: 1;
    margin-left: auto;
  }

  .features {
    grid-row: 2;
    grid-column: 1/3;
    justify-content: space-around;
  }

  .stats-list {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-align: center;
  }

  .advertise-content {
    padding-inline: 4rem;
  }

  footer {
    min-height: 40rem;
    bottom: 28.94rem;
  }

  .footer-nav {
    max-width: 43.06rem;
    width: 100%;
    grid-auto-flow: column;
    row-gap: 0;
    justify-content: space-between;
    bottom: 4.5rem;
    margin-inline: auto;
  }

  .footer-logo {
    justify-self: unset;
  }

}

@media screen and (min-width: 70rem) {

  .nav {
    max-width: 69rem;
  }

  .container {
    max-width: 69rem;
  }

  .beta-container {
    grid-template-columns: 43% 41% 16%;
    padding: 0;
  }

  .hero-container {
    min-width: 39.6875rem;
    grid-column: 1 / span 2;
    padding-top: 6rem;
    row-gap: 2.5rem;
  }

  .hero-title {
    font-size: 4.5rem;
    line-height: 1.08;
    letter-spacing: -0.0625rem;
  }

  .hero-content {
    row-gap: 3.25rem;
  }

  .description {
    font-size: 1.125rem;
    line-height: 1.77;
    letter-spacing: 0.00625rem;
  }

  .beta-btn {
    min-width: 16rem;
  }

  .phone {
    width: 21.875rem;
    grid-column: 2;
    margin-left: 0;
  }

  .features {
    grid-row: 1;
    grid-column: 3;
    row-gap: 0;
  }

  .stats-list {
    flex-direction: column;
  }

  .advertise {
    max-height: 34.06rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }

  .portrait {
    max-width: 22.48813rem;
    max-height: 36.84731rem;
    justify-self: unset;
    top: -1.5rem;
  }

  .advertise-content {
    max-width: 21.875rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    padding-inline: 0;
    position: unset;
  }

  .brand {
    font-size: 3rem;
    line-height: 1.16;
    letter-spacing: -0.03125rem;
  }

  .opinion {
    font-size: 1.25rem;
    line-height: 1.75;
    letter-spacing: 0.00625rem;
  }

  footer {
    min-height: 29rem;
    bottom: 16rem;
  }

  .footer-nav {
    min-width: 69rem;
    padding: 0;
  }

}

